header, body {
    text-align: center;
}

header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 20%;
}
.homeButton {
    position: absolute;
    top: 0%;
    right: 8%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    transform: scale(0.04);
}
.resultsTitle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #573771;
    font-size: calc(3.5vh + 3vw + 3vmin);
    font-weight: bold;
}
.resultsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    height: 60%;
}
.eventTitle,
.eventLocation,
.eventTemp,
.eventTime,
.eventItems {
    font-size: calc(1.3vh + 1.3vw + 1vmin);
    margin-bottom: 25px;
}
.eventTitleData,
.eventLocationData,
.eventTimeData,
.eventTempData{
    font-size: calc(2.2vh + 2.2vw + 2.2vmin);
    margin-bottom: px;
    color: #573771;
}
.eventItemsData {
    max-height: 200px;
    overflow-y: scroll;
    font-size: calc(1.2vh + 1.2vw + 1.2vmin);
    margin-bottom: 5px;
    color: #573771;
}